/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.profil{
    /* border: 2px solid green; */
    
}

.profil .logo {
    /* border: 2px solid rgb(17, 255, 1); */
    position: sticky;
    background-color: #77a2f5;
    top: 0;
    z-index: 1000000000000;
}

/* 
.profil .logo img{
    width: 180px;
    border: 2px solid rgb(2, 121, 154);
} */

.profil .contain{
   width: 100%;
    /* border: 2px solid red; */
    display: flex;
} 



.profil  .contain  .contain-left {
    /* margin-top: 20px; */
    border-right: 2px solid rgb(1, 22, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 20px;
}

.profil  .contain  .contain-left img{
    width: 180px;
    /* border: 2px solid rgb(2, 121, 154); */
}


.profil .contain .contain-left ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 23px;
}

.profil .contain  .contain-left ul li{
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.profil .contain  .contain-left ul li .icon, .text{
    font-size: 40px;
    font-weight: 500;
}





.profil .contain .contain-right {
   background-color:  rgb(38, 103, 202,0.15);
position: relative;
    /* border: 2px solid rgb(255, 0, 242); */
    width: 70%;
}


.profil .contain  .contain-right img{
    /* border: 2px solid rgb(19, 11, 124); */
    width: 170px;
    margin: 23px;

}

.profil .contain  .contain-right .add-profil{
    position: absolute;
    top: 154px;
    font-size: 42px;
    left: 152px;
    background-color: #2667CA;
    color: white;
    border-radius: 35px;
}


.profil .contain  .contain-right .name-user{
    display: flex;
    /* border: 2px solid rgb(255, 0, 0); */
    width: 711px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 250px;
}

.profil .contain  .contain-right .name-user h2{
    font-size: 25px;
    font-weight: bold;
}


.profil .contain  .contain-right .name-user button{

    margin-left: 30px;
    height: 40px;
    width: 150px;
    background-color: #2667CA;
    color: white;
    border-radius: 10px;
}





.profil .contain  .contain-right .info{

    display: block;
    /* border: 2px solid rgb(84, 123, 0); */
    width: 400px;
    text-align: center;
    position: absolute;
top: 100px;
left: 250px;

}


.profil .contain  .contain-right .info .abonnement{
    display: flex;
    /* border: 2px solid rgb(0, 205, 187); */
    justify-content: center;
}

.profil .contain  .contain-right .info article{

margin-left: 12px;

}

.profil .contain  .contain-right .info input{
    /* border: 2px solid pink; */
    height: 70px;
    width: 390px;
}


.profil .contain  .contain-right .other-profil{

    /* border: 2px solid rgb(194, 1, 152); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.profil .contain  .contain-right .other-profil img{
 
    /* border: 2px solid rgb(194, 1, 152);  */
}

.profil .contain  .contain-right .other-profil ion-icon{
     font-size: 75px;
    color: #2667CA;
}


.profil .contain  .contain-right .photo{
    display: block;
    /* border: 2px solid rgb(194, 11, 1); */
    text-align: center;
}

.profil .contain  .contain-right .photo a{


}

.profil .contain  .contain-right .photo a ion-icon{
    font-size: 140px;
    color: green;
    }

.profil .contain  .contain-right .photo h2{

   font-weight: bold;
   font-size: 25px;
}


.profil .contain  .contain-right .photo p{
    margin: 40px auto;
    width: 340px;
}

.profil .contain  .contain-right .photo span{
  color: #2667CA;
}